/* 
  Inter font: https://rsms.me/inter/
*/

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('/fonts/Inter-3.15/Inter.var.woff2?v=3.15') format('woff2');
}

:root {
  --body-background-color: hsl(0, 0%, 100%);
  --font-family: 'Inter';
}

html,
body,
main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  background-color: var(--body-background-color);

  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-family);
  /* pointer-events: none; */
  user-select: none;
}

label {
  font-family: system-ui;
}

a,
input,
label {
  pointer-events: all !important;
}

a,
a:visited {
  color: hsl(211, 100%, 59%);
}
